*{
    padding: 0;
    margin: 0;
    font-family: Comic Sans MS;
    font-weight: bold;
    font-size: 30px;
}

body{
    background-image: url(../src/pic/BekaXD.png);
    background-size: cover;
}

.mainContainer{
    margin: 100px auto;
    width: fit-content;
    background-color: antiquewhite;
    padding: 30px;
    border-radius: 25px;
    border-color: aqua;
    border-style: solid;
}
h1{
    text-align: center;
    padding-top: 20px;
    padding-bottom: 50px;
    font-size: 50px;
}

.startBt{
    width: fit-content;
    background-color:lightgreen;
    padding: 10px;
    border-radius: 25px;
    border-color: aqua;
    border-style: solid;
}

.changeDif{
    display: none;
    position: fixed;
    z-index: 1;
    top: 40px;
    right: 100px;
    width: fit-content;
    background-color:lightgreen;
    padding: 10px;
    margin: 5px;
    border-radius: 25px;
    border-color: aqua;
    border-style: solid;

}

.easyBt{
    width: fit-content;
    background-color:lightgreen;
    padding: 10px;
    border-radius: 25px;
    border-color: aqua;
    border-style: solid;
}

.mediumBt{
    width: fit-content;
    background-color:lightgreen;
    padding: 10px;
    border-radius: 25px;
    border-color: aqua;
    border-style: solid;
}

.hardBt{
    width: fit-content;
    background-color:lightgreen;
    padding: 10px;
    border-radius: 25px;
    border-color: aqua;
    border-style: solid;
}

.modalBack{
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
}

.modal{
    display: block;
    background-color: antiquewhite;
    position: fixed;
    z-index: 1;
    top: 30%;
    left: 30%;
    width: fit-content;
    height: fit-content;
    padding-top: 100px;
    padding-bottom: 100px;
    padding-left: 200px;
    padding-right: 200px;
    border-radius: 25px;
    border-color: aqua;
    border-style: solid;
}